<div class="navigation {{class}}">
  <div class="sizer">
    {{link-to "" "index" class="navigation-logo"}}
    <ul>
      <li>{{link-to "Services" "services"}}</li>
      <li><a href="http://blog.venn.lc">Blog</a></li>
    </ul>
  </div>
</div>
