html {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #1787e5;
  transition: color 0.2s;

  &:hover {
    color: #0864b2;
  }
}

h1 {
  margin: 40px auto;
  font-size: 32px;
  line-height: 40px;
  font-weight: 300;
  max-width: 650px;
  padding: 0 20px;
}

p {
  color: #66768a;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 12px;
}

.caption {
  font-style: italic;
  color: #96a3b5;
}
