.cta {
  text-align: center;
  color: #66768a;
  padding: 80px 0;
  text-shadow: 1px 1px #ffffff;

  p {
    font-size: 20px;
    line-height: 26px;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 20px;
    font-weight: 300;
  }

  span {
    display: block;
    text-decoration: none;
    color: #1787e5;
    transition: color 0.2s;
    cursor: pointer;

    &:hover {
      color: #0864b2;
    }
  }
}
