.work-banner {
  background: #292c38;
  height: 450px;
  text-align: center;
  color: #ffffff;
  padding: 150px 0 0 0;
  position: relative;
  overflow: hidden;

  p {
    color: #cfd3e2;
    font-size: 18px;
    line-height: 28px;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 20px;
    font-weight: 300;
    animation: homepage-banner-fadein 1s 1;
    position: relative;
    z-index: 2;
  }

  h1 {
    animation: homepage-banner-fadein 1s 1;
    position: relative;
    z-index: 2;
  }

  img {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 0px;
    width: 115%;
    opacity: 0.2;
  }
}


.work-primaryimage {
  position: relative;
  z-index: 10;
  margin: -90px auto 0 auto;
  background: url("/images/frames/ipad-horizontal.png") no-repeat;
  background-size: 100%;
  height: 415px;
  width: 554px;
  padding: 53px 62.5px 55px 63px;

  .image {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
  }
}

.work-copywithquote {
  max-width: 900px;
  padding: 0 20px;
  margin: 70px auto;
  overflow: auto;
  display: table;

  .column1 {
    width: 50%;
    display: table-cell;
  }

  .column2 {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
  }
}


.work-bannerimage {
  height: 500px;
  background-size: cover !important;
}

.copywithimageonleft {
  max-width: 900px;
  padding: 0 20px;
  margin: 70px auto;
  overflow: auto;
  display: table;

  .image {
    width: 50%;
    display: table-cell;
    position: relative;
  }

  .copy {
    width: 50%;
    display: table-cell;
    vertical-align: top;
    padding-left: 20px;
  }

  &.guestlist {
    .caption {
      position: absolute;
      top: 40px;
      left: 210px;
      width: 280px;
    }

    .copy {
      padding-top: 190px;
    }
  }


  &.ma {
    margin-top: 50px;

    .caption {
      position: absolute;
      top: 290px;
      left: 250px;
      width: 350px;
    }

    .copy {
      padding-top: 60px;
    }

    img {
      width: 450px;
    }
  }
}


.ipadonright {
  max-width: 900px;
  padding: 0 20px;
  margin: 70px auto 0 auto;
  overflow: auto;
  display: table;

  .copy {
    display: table-cell;
    vertical-align: top;
    padding-right: 50px;
    padding-top: 90px;
  }

  .image {
    width: 500px;
    display: table-cell;
    position: relative;
  }

  .ipad {
    width: 403px;
    height: 527px;
    padding: 71px 52px 61px 52px;
    background: url('/images/frames/ipad-vertical.jpg') no-repeat;
    background-size: 100%;

    .wrapper {
      height: 100%;
      width: 100%;
      overflow: hidden;
    }

    img {
      width: 100%;
    }
  }

  .caption {
    position: absolute;
    text-align: right;
    left: -270px;
    width: 220px;
    margin-top: -180px;
  }
}


.work-copywithquoteandandroid {
  max-width: 900px;
  padding: 0 20px;
  margin: 70px auto 50px auto;
  overflow: auto;
  display: table;

  .column1 {
    width: 50%;
    display: table-cell;
    padding-right: 20px;
    padding-top: 30px;
  }

  .column2 {
    width: 50%;
    display: table-cell;
    vertical-align: top;
    text-align: center;

    .image {
      display: inline-block;
      padding: 50px 19px 125px 16px;
      width: 277px;
      height: 455px;
      overflow: hidden;
      background: url('/images/frames/nexus5-vertical.jpg') no-repeat;
      background-size: 100% auto;

      img {
        width: 100%;
      }
    }
  }

  .quote {
    float: right;
    margin-top: 70px;
    margin-right: -20px;
    max-width: 360px;
    padding-left: 0px;
  }
}


.work-copywithvideoandquote {
  max-width: 900px;
  padding: 0 20px;
  margin: 70px auto 50px auto;
  overflow: auto;
  display: table;

  .column1 {
    width: 50%;
    display: table-cell;
    padding-right: 20px;
    padding-top: 30px;
  }

  .column2 {
    width: 50%;
    display: table-cell;
    vertical-align: top;
    text-align: center;

    .image {
      display: inline-block;
      padding: 99px 25px 97px 27px;
      width: 267px;
      height: 475px;
      overflow: hidden;
      background: url('/images/frames/iphone-vertical.jpg') no-repeat;
      background-size: 100% auto;

      img {
        width: 100%;
      }
    }
  }

  .quote {
    float: right;
    margin-top: 70px;
    margin-right: -20px;
    max-width: 360px;
    padding-left: 0px;
  }
}


.androidrow {
  max-width: 900px;
  padding: 0 20px;
  margin: 70px auto 0px auto;
  overflow: auto;

  .image {
    float: left;
    width: 175px;
    height: 287px;
    overflow: hidden;
    background: url('/images/frames/nexus5-vertical.jpg') no-repeat;
    background-size: 100% auto;
    padding: 32px 12px 80px 10px;
    margin-right: 37px;

    img {
      width: 100%;
    }

    &:last-child {
      margin-right: 0px;
    }
  }
}

.copywithimageonleft.ma + .androidrow {
  padding-top: 80px;
}


.quote {
  display: inline-block;
  text-align: left;
  font-size: 26px;
  color: #66768a;
  line-height: 34px;
  max-width: 340px;
  position: relative;
  padding-left: 80px;

  &:before {
    content: "\201C";
    font-size: 72px;
    margin-left: -32px;
    margin-top: 12px;
    position: absolute;
  }

  &:after {
    content: "\201D";
    display: inline-block;
    font-size: 72px;
    line-height: 34px;
    vertical-align: top;
    margin-top: 25px;
  }
}
