<div class="work-banner">
  <img src="/images/temp-banner.jpg" />

  <h1>Online event management and registration made simple.</h1>

  <p>
    With three distinct applications spanning web and mobile and a marketing website, Guestlist is massive and ongoing project.
  </p>
</div>

<div class="work-primaryimage">
  <div class="image">
    <img src="/images/work/guestlist-dashboard.jpg" />
  </div>
</div>

<div class="work-copywithquote">
  <div class="column1">
    <p>
      Event holders start with the core Guestlist application which enables them to create and manage their events. We expanded functionality and refined the experience based on user feedback and support requests over several major itterations.
    </p>
    <p>
      One of the early decisions we made that has proven to be very flexible is to use a what-you -see-is-what-you-get (WYSIWIG) editor to create the public website for events. It sets Guestlist apart from other applications in its category and has been a big large factor in making the application seem very simple at first glance.
    </p>
    <p>
      People rely on Guestlist to processes millions of dollars in fees so reliability was a big concern from the start. Guestlist is built on Rails and Posgres with automatic backups happening on a continous basis.
    </p>
  </div>

  <div class="column2">
    <div class="quote">
      People rely on Guestlist to processes millions of dollars in fees so reliability was a big concern from the start.
    </div>
  </div>
</div>
