<div class="work-banner">
  <img src="/images/temp-banner.jpg" />

  <h1>Guestlist todo.</h1>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel viverra lectus, vel suscipit tortor. Nulla augue risus, molestie at nisl ut, posuere hendrerit ligula donec urna lorem
  </p>
</div>
