<div class="work-banner">
  <img src="/images/temp-banner.jpg" />

  <h1>Online event management and registration made simple.</h1>

  <p>
    With three distinct applications spanning web and mobile and a marketing website, Guestlist is massive and ongoing project.
  </p>
</div>

<div class="work-primaryimage">
  <div class="image">
    <img src="/images/work/guestlist-dashboard.jpg" />
  </div>
</div>

<div class="work-copywithquote">
  <div class="column1">
    <p>
      Event holders start with the core Guestlist application which enables them to create and manage their events. We expanded functionality and refined the experience based on user feedback and support requests over several major itterations.
    </p>
    <p>
      One of the early decisions we made that has proven to be very flexible is to use a what-you -see-is-what-you-get (WYSIWIG) editor to create the public website for events. It sets Guestlist apart from other applications in its category and has been a big large factor in making the application seem very simple at first glance.
    </p>
    <p>
      People rely on Guestlist to processes millions of dollars in fees so reliability was a big concern from the start. Guestlist is built on Rails and Posgres with automatic backups happening on a continous basis.
    </p>
  </div>

  <div class="column2">
    <div class="quote">
      People rely on Guestlist to processes millions of dollars in fees so reliability was a big concern from the start.
    </div>
  </div>
</div>

<div class="guestlist-newevent">
  <img src="/images/work/guestlist-newevent.png" width="360px" />
  <p class="caption">
    The editing process for your event takes places through a series of modal dialogs that keeps you focus on the task at hand.
  </p>
</div>

<div class="work-bannerimage" style="background: url('/images/work/guestlist-eventpage.jpg') center top"></div>

<div class="guestlist-tickets">
  <img src="/images/work/guestlist-tickets.png" width="525px" />
  <p class="caption">
    Care was put into making sure all the edge use cases are covered, while ensuring the application was still accessible to newcomers.
  </p>
</div>

<div class="copywithimageonleft guestlist">
  <div class="image">
    <img src="/images/work/guestlist-checkout.jpg" width="363px" />
    <p class="caption">
      The checkout system can be embedded into any website and seamlessly works on desktop, tablet, and mobile devices.
    </p>
  </div>

  <div class="copy">
    <p>
      Keeping with the idea of being flexible, we wanted people to be able to build their own websited for their events if they so choose. To enable this we build a fully embeddable checkout system. It can be added to any website to allow the user to buy tickets. The user does not have to leave the website when they make a purcahse, and it works on all devices.
    </p>
  </div>
</div>

<div class="ipadonright">
  <div class="copy">
    <p>
      To improve the experince of attending the event, we designed + built a tablet  application that event hosts could use to check in attendees at the door.
    </p>
    <p>
      Supporting bar code scanning, it allows attendees to spend less time waiting in line and for the event host to keep on top of attendence records.
    </p>
  </div>

  <div class="image">
    <div class="ipad">
      <div class="wrapper">
        <img src="/images/work/guestlist-checkin.jpg" width="363px" />
      </div>
    </div>
    <p class="caption">
      The checkout system can be embedded into any website and seamlessly works on desktop, tablet, and mobile devices.
    </p>
  </div>
</div>


<div class="cta">
  <p>
    Got a project you’d like to work together on? <a href="#">We’d love to hear about it.</a>
  </p>
</div>
