<div class="work-banner">
  <img src="/images/work/ma-header.jpg" />

  <h1>Taking maintenance software where people need it. Mobile. </h1>

  <p>
    Venn was brought on to redesign the mobile exeperience and assist the Maintenance Assistant team in implementing it.
  </p>
</div>


<div class="work-copywithquoteandandroid">
  <div class="column1">
    <p>
      Maintenance management is a very large industry dominated by an older demographic. The average age is north of 50 so when Maintenance Assistant approached us about designing a HTML5 mobile app we knew it was going to have a lot of unique requirements.
    </p>
    <p>
      The web app for MA is a very large and complicated piece of software. Our task was to simplify the application for mobile so technicians out in the field did not get overwhelemd with options. We also has to make sure everything was readable even if the user has poor vision and tap areas was large enough for big fingers.
    </p>

    <div class="quote">
      A unique aestetic was chosen to make sure the designs and code could be shared between for Android and iOS.
    </div>
  </div>

  <div class="column2">
    <div class="image">
      <img src="/images/work/ma-drawer.jpg" />
    </div>
  </div>
</div>


<div class="copywithimageonleft ma">
  <div class="image">
    <img src="/images/work/ma-onboarding.jpg" width="450px" />
    <p class="caption">
      The difficulty of setting up a CMMS was overcome with an onboarding process was designed to bring immediate value to new users.
    </p>
  </div>

  <div class="copy">
    <p>
      The app was going to be built in HTML5 so a unique aesthetic was chosen to make sure the designs and code could be shared betwen Android and iOS. While the MA team took care to implement the frontend in Angular and Phonegap, we provided them with mobile optimized HTML and CSS for each of the pages.
    </p>
  </div>
</div>


<div class="androidrow">
  <div class="image">
    <img src="/images/work/ma-row1.jpg" width="175px" />
  </div>

  <div class="image">
    <img src="/images/work/ma-row2.jpg" width="175px" />
  </div>

  <div class="image">
    <img src="/images/work/ma-row3.jpg" width="175px" />
  </div>

  <div class="image">
    <img src="/images/work/ma-row4.jpg" width="175px" />
  </div>
</div>


{{partial "cta"}}
