<div class="work-banner">
  <img src="/images/temp-banner.jpg" />

  <h1>Choose your own adventure books brought to  a new medium</h1>

  <p>
    Venn was brought on to work with the House of Cool team to build a HTML5 mobile app for iOS and Android from the designs they supplied.
  </p>
</div>


<div class="work-copywithvideoandquote">
  <div class="column1">
    <p>
      Massively is a message driven story platform where users guide their favorite heroes through difficult missions and complex stories. Suggest the right idea and Gotham lives to fight another day.
    </p>
    <p>
      Massively makes use of in app purchases to allow users to buy different stories to play and Facebook login to drive the user signup process.
    </p>
    <p>
      House of Cool supplied the design, and Venn supplied the techincal skills required to build a HTML5 app that feels and behaves like a native one. A lot of care was paid to crafting highly peformance animations to match what you would expect from a native application.
    </p>

    <div class="quote">
      House of Cool supplied the design, and Venn supplied the techincal skills required to build a HTML5 app that feels and behaves native.
    </div>
  </div>

  <div class="column2">
    <div class="image">
      <img src="/images/work/ma-drawer.jpg" />
    </div>
  </div>
</div>

<div class="cta">
  <p>
    Got a project you’d like to work together on? <a href="#">We’d love to hear about it.</a>
  </p>
</div>
