<div class="work-banner">
  <img src="/images/work/massively-header.jpg" />

  <h1>Choose your own adventure books brought to  a new medium</h1>

  <p>
    Venn collaborated with House of Cool to build an HTML5 mobile app for iOS and Android.
  </p>
</div>


<div class="work-copywithvideoandquote">
  <div class="column1">
    <p>
      Massively is a message-driven gaming platform where users guide their favorite heroes through difficult missions and complex stories. Give Batman the right advice and Gotham City lives to fight another day!
    </p>
    <p>
      House of Cool supplied the designs and Venn supplied the techincal skills required to build an HTML5 app that feels native. A lot of care was put into crafting polished animations to match what you would expect from a native application.
    </p>
    <p>
      Massively was built using Phonegap and will soon be available in the Apple and Google Play stores. Massively makes use of in-app purchases for story purchases and Facebook for sharing and authentication.
    </p>

    <div class="quote">
      House of Cool supplied the designs and Venn supplied the techincal skills required to build an HTML5 app that feels native.
    </div>
  </div>

  <div class="column2">
    <div class="image">
      <img src="/images/work/massively-store.jpg" />
    </div>
  </div>
</div>

{{partial "cta"}}
