<div class="work-banner">
  <img src="/images/temp-banner.jpg" />

  <h1>Choose your own adventure books brought to  a new medium</h1>

  <p>
    Venn was brought on to work with the House of Cool design team to implement their designs into a HTML mobile app.
  </p>
</div>
