<div class="work-banner">
  <img src="/images/temp-banner.jpg" />

  <h1>Choose your hero's adventure.</h1>

  <p>
    Massively is a message driven story platform where users guide their favorite heroes through difficult missions and complex stories. Suggest the right idea and Gotham lives to fight another day.
  </p>

  <h2>Venn's Role</h2>
  
  <p>
    Finding work as a budding new agency is never easy, which is why Jaco and I headed over to Bar Hop. Brainstorming marketing is easier with falafel and beer. A coincidence, an introduction, and five minutes later we were lined up to pitch Antonio from Team2 for the mobile development of Massively.
  </p>
</div>
