{{site-navigation}}

<div class="services-banner">
  <h1>Services</h1>
</div>

<div class="services">
  <div class="services__service">
    <h2 class="services__header">
      App Development
    </h2>
    <div class="services__price">
      $150/hour. Minimum project size of $9,995.
    </div>
    <div class="services__description">
      <p>
        Custom application design and development for the web. We can get your MVP out the door fast so you can test your ideas in the market.
      </p>
    </div>
  </div>

  <div class="services__service">
    <h2 class="services__header">
      Data Analysis
    </h2>
    <div class="services__price">
      $1,250/day. Minimum project size of $9,995.
    </div>
    <div class="services__description">
      <p>
        Provide us your data and insights and we'll help your team unlock the most out of your data. We combine all your data from databases, analytics tools, and spreadsheets to provide critical insight to grow your business or solve organizational problems.
      </p>
    </div>
  </div>

  <div class="services__service">
    <h2 class="services__header">
      Design Review
    </h2>
    <div class="services__price">
      $1,250/day. Minimum project size of $4,995.
    </div>
    <div class="services__description">
      <p>
        Let us review your designs for your website or application. We will provide you with an in-depth analysis of how you can improve the design to better accomplish your goals.
      </p>
    </div>
  </div>

  <div class="services__service">
    <h2 class="services__header">
      Initial Security Audit
    </h2>
    <div class="services__price">
      Purchase now for $9,995.
    </div>
    <div class="services__description">
      <p>
        One large or two medium length reports totalling 50 to 100 pages. One or two IT systems or processes can be covered under this audit. Key findings will be communicated with an emphasis on triage and next steps for policy makers or stakeholders.
      </p>
    </div>
  </div>

  <div class="services__service">
    <h2 class="services__header">
      Ongoing Security Audit and Triage
    </h2>
    <div class="services__price">
      Starting at $45,000.
    </div>
    <div class="services__description">
      <p>
        Generally recommended after an initial security audit, this thorough analysis includes multiple subsystems and includes consultation from domain specific experts (Venn staff or subcontractors) where needed. Brings the organization towards *constant* audit and detection while triaging insecure systems.
      </p>
    </div>
  </div>
</div>

{{partial-cta}}

<div class="sevices-disclaimer">
  *All prices are in CAD and include relevant taxes. Projects less than $15k require 100% payment prior to commencement of work.
</div>
