<div class="work-banner">
  <img src="/images/work/ma-header.jpg" />

  <h1>Taking maintenance software to where people need it: mobile</h1>

  <p>
    Venn was brought on to redesign the mobile exeperience and assist the Maintenance Assistant team in implementing it.
  </p>
</div>


<div class="work-copywithquoteandandroid">
  <div class="column1">
    <p>
      Maintenance management is a very large industry dominated by established solutions that heavily favour function over form. When Maintenance Assistant approached us about designing a modern HTML5 mobile app we knew it was going to have a lot of unique requirements.
    </p>
    <p>
      The web app for Maintenance Assistant is a very large and complex piece of software. Our task was to distill from it a mobile version that would ensure technicians out in the field are not overwhelmed by options. We also needed to maintain good readability even for users with poor vision and provide tap areas that accommodate large fingers.
    </p>

    <div class="quote">
      A unique aesthetic was chosen to allow code and designs to be shared between Android and iOS.
    </div>
  </div>

  <div class="column2">
    <div class="image">
      <img src="/images/work/ma-drawer.jpg" />
    </div>
  </div>
</div>


<div class="copywithimageonleft ma">
  <div class="image">
    <img src="/images/work/ma-onboarding.jpg" />
    <p class="caption">
      The difficulty of setting up a CMMS was overcome with an onboarding process designed to bring immediate value to new users.
    </p>
  </div>

  <div class="copy">
    <p>
      The app was built in HTML5 and Phonegap so a unique aesthetic was chosen to allow code and designs to be shared betwen Android and iOS. While the Maintenance Assistant team took care of frontend implementation, we provided them with mobile optimized HTML and CSS for each page.
    </p>
  </div>
</div>


<div class="androidrow">
  <div class="image">
    <img src="/images/work/ma-row1.jpg" width="175px" />
  </div>

  <div class="image">
    <img src="/images/work/ma-row2.jpg" width="175px" />
  </div>

  <div class="image">
    <img src="/images/work/ma-row3.jpg" width="175px" />
  </div>

  <div class="image">
    <img src="/images/work/ma-row4.jpg" width="175px" />
  </div>
</div>


{{partial-cta}}
