<div class="navigation">
  <div class="sizer">
    {{link-to "" "index" class="navigation-logo"}}
    <ul>
      <li><span {{action 'showContact'}}>Contact</span></li>
      <li><a href="http://blog.venn.lc">Blog</a></li>
    </ul>
  </div>
</div>
